<mat-sidenav-container class="sidenav-container">
    <mat-sidenav
        #drawer
        class="sidenav"
        fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false"
    >
        <mat-toolbar>Menu</mat-toolbar>
        <ng-content select=".menu"></ng-content>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button
                type="button"
                aria-label="Toggle sidenav"
                mat-icon-button
                (click)="drawer.toggle()"
                *ngIf="isHandset$ | async"
            >
                <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
            <span>unicorn-ng</span>
            <span>{{ now$ | async }}</span>
            <span class="spacer"></span>
            <span>{{ (cart$ | async)?.length }} x <mat-icon>favorite</mat-icon></span>
        </mat-toolbar>
        <!-- Add Content Here -->
        <ng-content select=".content"></ng-content>
    </mat-sidenav-content>
</mat-sidenav-container>
